<div class="footer" fxLayout="row" fxLayoutAlign="space-around center">
  <span fxLayoutAlign="center center">
    <img
      tabindex="0"
      (click)="onFacebook()"
      (keyup.enter)="onFacebook()"
      src="./assets/logos/facebook.svg"
      alt="redirect to facebook page"
      matTooltip="Visit my facebook page"
    />
    <img
      tabindex="0"
      (click)="onInstagram()"
      (keyup.enter)="onInstagram()"
      src="./assets/logos/instagram.svg"
      alt="redirect to instagram page"
      matTooltip="Visit my instagram page"
    />
    <img
      tabindex="0"
      (click)="onGithub()"
      (keyup.enter)="onGithub()"
      src="./assets/logos/github.svg"
      alt="redirect to github page"
      matTooltip="Visit my github page"
    />
  </span>
</div>
